* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    list-style-type: none;
    text-decoration: none;

    --size-1: 1em;
    --size-2: .5em;
}
.hidden { display: none; }
.active { display: block; }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.accordion-item {
    margin-bottom: var(--size-1);
}
.accordion-item .accordion-header {
    width: 25em;
    border: 2px solid;
    padding: var(--size-2);
    color: white;
    background-color: black;
    cursor: pointer;
}
.accordion-item .accordion-content { margin: var(--size-2); }
.accordion-content .text { width: 20em; }